<VirtualHost WEBSERVER.DOMAIN:443>
   DocumentRoot /var/www/html
   ServerName WEBSERVER.DOMAIN
   ServerAdmin WEBADMIN@DOMAIN
   ServerSignature On

   ErrorLog    /etc/httpd/logs/error_log
   TransferLog /etc/httpd/logs/access_log
   LogLevel info

   SSLEngine on
   SSLVerifyClient require
   SSLVerifyDepth 10

   SSLCACertificatePath  /etc/grid-security/certificates
   SSLCertificateKeyFile /etc/grid-security/hostkey.pem
   SSLCACertificateFile  /etc/grid-security/hostcert.pem

   <Files ~ "\.(cgi|shtml|pl)$">
      SSLOptions +StdEnvVars +ExportCertData
   </Files>
   <Directory "/var/www/cgi-bin">
      SSLOptions +StdEnvVars +ExportCertData
   </Directory>
   SetEnvIf User-Agent ".*MSIE.*" nokeepalive ssl-unclean-shutdown
   CustomLog /etc/httpd/logs/ssl_request_log \
          "%t %h %{SSL_PROTOCOL}x %{SSL_CIPHER}x \"%r\" %b"
</VirtualHost>
